<style>
  
  body {
    font-family: 'Helvetica', sans-serif;
    max-width: 100%;
    background-image: url("http://www.hdfinewallpapers.com/HDWallpapers/Big/Trees-and-Leaves/Beautiful_Leaf_Desktop_Background_Photo.jpg");
    max-height: 100%;
  }
  .title h1 {
    text-align: center;
  }

  .header img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 20%;
    position: relative;
    z-index: 500;

  }
  
  .intro-text p {
    z-index: 1000000;
    color: #fff;
    display: block;
    position: absolute;
    padding: 30px;
    width: 500px;
    min-height: 100%;
    margin-top: 160px;
    background-color: #0f0f0f;
  }
  
  .title h2 {
    z-index: 100000000;
    color: #fff;
    position: absolute;
    margin-top: 160px;
    margin-left: 30px;
    font-family: 'Courier new', serif;
  }
  
  
  .navbar {
    background-color: #0f0f0f;
    height: 50px;
    color: #fff;
    position: absolute;
    z-index: 1000;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  .navbar ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

  }
  
  .navbar li {
    text-align: center;
    display: inline-block;
    padding: 10px;
  }
  
  .logo img {
    width: 100px;
    float: right;
    padding: 20px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  a:hover {
    border: solid 1px #0b9159;
    padding: 10px;
  }
  
  .footer {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1000000;

  }
  
  .footer-block {
    position: absolute;
    background-color: #0f0f0f;
    z-index: 1000000;

    
  }
</style>

<div class='row'>
   <div class='col-md-12'>
      <div class='navbar'>
        <ul>
          <li><%= link_to 'Home', pages_home_path %>
          <li><%= link_to 'About', about_path %>
          <li><%= link_to 'Articles', articles_path %></li>
        </ul>
      </div>
      <span class="logo">
          <img src="http://aezel.eu/aezel/themes/aezel/images/logos/Tree_logo.png">
        </span>
    </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <div class='title'>
       <h2>
        About us
      </h2>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <div class='intro-text'>
      <p>
        Integer et tellus quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed eu dolor placerat, facilisis odio at, eleifend odio. Quisque ultrices nisl enim. Mauris quis libero lacinia, dignissim mi vitae, finibus eros. Sed bibendum auctor dictum. Duis rhoncus interdum ligula quis bibendum. Vivamus sit amet sagittis purus, ac venenatis urna. Vestibulum vel purus eu dolor consequat tincidunt. Nullam sit amet scelerisque dui. Aliquam elementum vestibulum ante, a dignissim dui fermentum et. Integer ac mi pulvinar, dignissim quam id, aliquet odio. Praesent non condimentum purus. Fusce quis eros non diam feugiat egestas. Etiam ullamcorper magna et libero hendrerit consectetur.
      </p>
    </div>
   </div>
</div>

