$navbar-default-bg: #262626;

#logo {
  width: 40px;
}

#title-brand  {
  color: #FFF;
}

.jumbotron {
  text-align: center;
}

.jumbotron-content {
  padding: 4em;
}

.btn.btn-primary {
  background-color: #19602e;
  border-color: #145427;
}

.btn.btn-primary:hover {
  background-color: #269347;
  border-color: #238e43;
}

@import "bootstrap-sprockets";
@import "bootstrap";
